@import 'bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #188781;
    --secondary-color: #1f9f97;
    --accent-color: #f6bd21;
}

body {
    font-family: 'Cairo', sans-serif;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(24, 135, 129, 0.25);
}


